:root {
    //Primary colors
    --color-primary: rgba(4, 97, 159);
    --color-primary-light: rgba(46, 89, 132);
    --color-primary-dark: rgba(30, 41, 52);
    //Light colors
    --color-grey-light-1: rgb(250, 249, 249);
    --color-grey-light-2: rgb(244, 242, 242);
    --color-grey-light-3: rgb(240, 238, 238);
    --color-grey-light-4: rgb(204, 204, 204);
    //Dark colors
    --color-grey-dark-1: rgba(51, 51, 51);
    --color-grey-dark-2: rgba(119, 119, 119);
    --color-grey-dark-3: rgba(153, 153, 153);

    //Shadows variables
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

    //Border bottom variable
    --line: 1px solid var(--color-grey-light-3);
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    font-family: "Open-Sans", sans-serif;
    font-weight: bold;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-repeat: no-repeat;
    height: 100%;
    background-image: linear-gradient(147deg, #000000 0%, var(--color-primary) 74%);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    @media only screen and (max-width: $bp-large) {
        animation: none;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
